body {
    padding: 0;
    margin: 0;

    font-family: 'Rubik', sans-serif;
    background: #111;
}

* {
    box-sizing: border-box;
}

h1,
h3 {
    font-weight: 400;
}

.weather-app {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weather-app.doj {
    background-image: url(./images/doj.gif);
}

.weather-app.sneg {
    background-image: url(./images/sneg.gif);
}

.weather-app.obloch {
    background-image: url(./images/obloch.gif);
}

.weather-app.asno {
    background-image: url(./images/asno.gif);
}

.weather-app.smoke {
    background-image: url(./images/smoke.gif);
}
.weather-app.fog {
    background-image: url(./images/fog.gif);
}

.weather-app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    height: 720px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}

.temp-data {
    display: flex;
    align-items: center;
    gap: 10px;
}
.condition {
    margin-left: 10px;
}
.weather .icon {
    margin-left: 3px;
}
.city-time h1 {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}

.temp {
    font-size: 7em;
    margin: 0;
}

.weather img {
    display: block;
    margin: 0.5em 0;
}

.panel {
    position: absolute;
    width: 100%;
    max-width: 526px;
    height: 730px;
    top: 0;
    right: 0;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    /* -webkit-backdrop-filter: blur(10px); */
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 3em 2em;
}

.panel form {
    margin-bottom: 3em;
}

.submit {
    width: 40px;
    border: none;
    background: transparent;
    color: #ffffff;
    transition: 0.4s;
}

.submit:hover {
    background: transparent !important;
    color: #000000;
}

.search {
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    width: 100%;
    max-width: 371px;
    color: #fff;
    font-size: 20px;
}

.search:focus {
    outline: none;
}

.search::placeholder {
    color: #ccc;
}

.panel ul {
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;
}

.panel ul li {
    color: #ccc;
    margin: 2.5em 0;
}

.panel ul h4 {
    margin: 3em 0;
}

.details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span-t {
    margin-right: 290px;
}

@media (max-width: 600px) {
    .weather-app {
        padding: 10px;
    }

    .container {
        padding: 1em;
    }

    .temp {
        font-size: 5em;
    }

    .city-time h1 {
        font-size: 2em;
    }

    .panel {
        width: 100%;
        padding: 2em 1em;
    }

    .search {
        width: 100%;
        padding: 10px;
    }

    .span-t {
        margin-right: 10px;
    }
}